body {
}

#divContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #2196F3;
    padding: 10px;
    height: 500px;
    width: 500px;
  }
.snake {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    
}



